@{ 
    Business.Pagina pagina = ViewBag.Pagina;
}
    <div class="jumbotron">
    <h3>Nova página</h3>
    <div>
        <a href="/paginas" class="btn btn-default">Voltar</a>
    </div>


    <form action="/paginas/@pagina.Id/alterar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" value="@pagina.Nome" name="nome">
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="datetime" class="form-control" id="data" value="@pagina.Data" name="data">
        </div>
        <div class="form-group">
            <label for="conteudo">Conteudo:</label>

            <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=uy71wzu7fhuzxf2n0ftajhb5t2vv8yiyha91wvyrgjxfmjpt"></script>
            <script>tinymce.init({ selector: 'textarea' });</script>

            <textarea id="conteudo" name="conteudo" class="form-control">@pagina.Conteudo</textarea>
        </div>
        <button type="submit" class="btn btn-default">Alterar</button>
    </form>
</div>
