<div class="jumbotron">
    <h3>Nova página</h3>
    <div>
        <a href="/paginas" class="btn btn-default">Voltar</a>
    </div>


    <form action="/paginas/criar" method="post">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome">
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
            <input type="datetime" class="form-control" id="data" name="data">
        </div>
        <div class="form-group">
            <label for="conteudo">Conteudo:</label>
            <textarea id="conteudo" name="conteudo" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Salvar</button>
    </form>
</div>
