@{
    ViewBag.Title = "Login";
}

@using LabMVC.ModelViews;

<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <div class="main">
                <!-- Pills navs -->
                <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="active" role="presentation">
                        <a href="#pills-login" role="tab" data-toggle="pill">Entrar</a>
                    </li>
                    <li role="presentation">
                        <a href="#pills-register" role="tab" data-toggle="pill">Cadastrar</a>
                    </li>
                </ul>
                <!-- Pills navs -->
                <!-- Pills content -->
                <!-- Login -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="pills-login">
                        <form action="/login/logar" method="post">
                            <!-- Email input -->
                            <div class="form-group">
                                <label for="loginName">Login</label>
                                <input name="Login" type="text" id="loginName" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-group">
                                <label for="loginPassword">Senha</label>
                                <input name="Senha" type="password" id="loginPassword" class="form-control" />
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </form>
                    </div>

                    <!-- Cadastrar -->
                    <div class="tab-pane fade" id="pills-register">
                        <form action="/login/Cadastrar" method="post">
                            <!-- Name input -->
                            <div class="form-group">
                                <label for="registerName">Nome</label>
                                <input name="Nome" type="text" id="registerName" class="form-control" />
                            </div>

                            <!-- Username input -->
                            <div class="form-group">
                                <label for="registerUsername">Login</label>
                                <input name="Login" type="text" id="registerUsername" class="form-control" />
                            </div>

                            <!-- Email input -->
                            <div class="form-group">
                                <label for="registerEmail">Email</label>
                                <input name="Email" type="email" id="registerEmail" class="form-control" />
                            </div>

                            <!-- Password input -->
                            <div class="form-group">
                                <label for="registerPassword">Senha</label>
                                <input name="Senha" type="password" id="registerPassword" class="form-control" />
                            </div>

                            <!-- Repeat Password input -->
                            <!--<div class="form-group">
                            <label for="registerRepeatPassword">Repeat password</label>
                            <input type="password" id="registerRepeatPassword" class="form-control" />
                        </div>-->
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                        </form>
                    </div>
                </div>
                @if (Model != null && !string.IsNullOrEmpty(((MensagemModelView)Model).Mensagem) && ((MensagemModelView)Model).Sucesso == false)
                {
                    <div id="mensagemDiv" class="alert alert-danger" role="alert">
                        @(((MensagemModelView)Model).Mensagem)
                    </div>
                    <script>
                        setTimeout(function () {
                            document.getElementById("mensagemDiv").style.display = "none";
                        }, 5000);
                    </script>
                }

                @if (Model != null && ((MensagemModelView)Model).Sucesso)
                {
                    <div id="mensagemSucessoDiv" class="alert alert-success" role="alert">
                        @(((MensagemModelView)Model).Mensagem)
                    </div>
                    <script>
                        setTimeout(function () {
                            document.getElementById("mensagemSucessoDiv").style.display = "none";
                        }, 5000);
                    </script>
                }
            </div>
        </div>
    </div>
</div>
<!-- Pills content -->

<style>
    #mensagemDiv, #mensagemSucessoDiv {
        margin-top: 20px;
    }

    .container {
        max-width: 450px;
        margin-top: 50px;
    }

    .tab-pane{
        margin-top: 30px !important;
    }

    .card {
        background-color: rgb(144 170 213 / 18%) !important;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 8px;
    }
</style>
