
@{
    ViewBag.Title = "FormUsuario";
}

<h2>@ViewBag.TituloOperacao Usuário</h2>

<main>
    <form>
        <div class="row m-4">
            <label class="mb-3">Nome</label>
            <input type="text" class="form-control" name="Nome"/>
        </div>

        <div class="row mb-3">
            <label>Email</label>
            <input type="text" class="form-control" name="Email"/>
        </div>

        <div class="row mb-3">
            <label>Login</label>
            <input type="text" class="form-control" name="Login"/>
        </div>

        <div class="row mb-3">
            <label>Senha</label>
            <input type="password" class="form-control" name="Senha"/>
        </div>

        <div class="row mb-3 mt-3">
            <button type="submit" class="btn btn-primary">@ViewBag.BotaoOperacao</button>
        </div>
    </form>
</main>